/*
 * Typography
 ************
 * We define font types, colors, sizes, text-alignment, etc.
 */

 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
/* font-family: 'Raleway', sans-serif; */

 @import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');
/* font-family: 'Cormorant', serif; */

 @import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
/* font-family: 'Pinyon Script', cursive; */

a	{ text-decoration: none; }
	/* Setting up font families */
.link	{ font-size: smaller; vertical-align: super; cursor: pointer; }
.dd		{ position: relative; display: inline-block; }
.dd-title	{ display: inline-block; }
.dd-content	{ 
	display: none; 
	position: absolute;
	top: 20px;
	left: 30%;
	width: 40vw;
	padding: 5px;

	background-color: white;
	border-radius: 4px;
	border: 1px solid #444444;
	color: #333333;
	font-weight: 1.2em;
	text-align: center;
	background-image: url("img/newbg1.jpg");
}
.dd:hover .dd-content { display: block; }

body, h3		{ font-family: 'Raleway', sans-serif; }
h1, h2, h4, h5, h6	{ font-family: 'Cormorant', serif; }
blockquote, q		{ font-family: 'Pinyon Script', cursive; }


	/* Beautiful selections */

::-moz-selection	{ background: #888; color: #fff; text-shadow: none; }
::selection		{ background: #888; color: #fff; text-shadow: none; }


	/* Setting up font sizes, styles and weight */

.clickable	{ cursor: pointer; }

h1		{ font-size: 2.8em; }
h2		{ font-size: 2.6em; }
h3		{ font-size: 1.8em; }
h4		{ font-size: 1.8em; }
.title		{ text-decoration: underline; }
.extract	{ font-style: italic; }
.author		{ font-weight: 600; }
.content 	{ font-size: 1.06em; text-align: justify }
blockquote, q	{ font-size: 1.06em; font-style: italic; }
.page-changer	{ font-size: 1.5em; font-weight: 200; text-align: center; }
.utility-trigger	{ font-size: 1.1em; }
.modalbox-close	{ font-size: 38px; font-weight: bold; }	
.modalbox	{ font-size: 1.1em; }


	/* Backgrounds and fonts colors */

body	{
	background-position-x: 50%;
	background-position-y: top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #ffffff;
	color: #000000;
}
@media only screen and (max-width: 700px)	{
	body	{
		background-repeat: repeat;
		background-attachment: initial;
		background-size: initial;
	}
}

@media only screen and (min-width: 1000px)	{
.content	{ background-color: rgba(255, 255, 255, 0.5); }
}
.page-changer:hover	{ background-color: rgba(0, 0, 0, 0.3); }
.dot	{ background-color: #aaa; transition: background-color 0.6s ease; }
.active, .dot:hover	{ background-color: #2b2927; }

.utility-trigger:hover	{ color: #ffffff; }
.utility-trigger p	{ text-align: center; }
.work-trigger	{ text-decoration: underline dotted; }

.modalbox	{
	background-color: rgba(0, 0, 0, 0.4);
	color: #aaaaaa;
}
.utility-trigger, .utility-wrapper	{ 
	background-color: #2b2927; 
	color: #aaaaaa
}
p#summary	{ color: #aaaaaa; }
p#summary:hover	{ color: #ffffff; }
.work-wrapper	{ 
	background-color: #fafafa; 
	color: #888888;
}

.utility-close:hover	{ color: #ffffff; }
.work-close:hover	{ color: #888888; }
a			{ color: black; }

/*
 * Summary
 */

.index-wrapper	{
	min-height: 100vh;
	width: 60%;
	margin: auto;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.6);
}

.fuckingAwesomeTitle	{ 
	color: black;
	font-family: 'Cormorant', serif; 
	font-size: 4em;
	padding: 20px 0px 20px 0px;
	width: 100%;
	text-align: center;
	font-weight: 1.3em;
}

.fuckingAwesomeSubtitle	{
	color: black;
	font-size: 2em;
	padding: 40px 0px 0px 0px;
	width: 100%;
	text-align: center;
	font-weight: 1.5em;
}

.page-wrapper

/*
 * Paddings, margins & forms
 ***************************
 * 
 * These are defined for inner containers so that the dimensions
 *  of layout containers are not affected in any way.
 */

html, body	{ height: 100%; }
body	{ margin: 0; padding: 0; }
h2	{ margin: 10px 20px 10px 10px; padding: 10px 0 10px 0; }
h3	{ margin: 5px 10px 5px 10px; padding: 5px 0 5px 0; }
h4	{ margin: 3px 5px 3px 5px; padding: 2px 0 2px 0; }
p	{ margin: 0; padding: 7px; }
.paragraph	{ margin: 0; padding: 7px; }
li	{ margin: 0; padding: 3px; }
img	{ margin: 20px; margin-top: 0; border-radius: 10px; }

	/* The divs inside the page wrapper have to be given some 
	margins. When the screen width is low, page changers and 
	modalbox buttons do not have paddings, they fit with the page
	wrapper. */

.page-wrapper		{ margin: 0; }
.content	{ margin: 0 35px 20px 35px; }
blockquote	{ margin: 0 30px 10px 30px; }


	/* The page changers are circles */

.navigation-bar	{ margin-top: 20px; }
.page-changer	{
	width: 30px;
	height: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius; 30px;

	padding: 20px;
}

.dot-bar	{ margin-bottom: 20px; margin-top: 20px; }
.dot	{
	width: 12px;
	height: 12px;
	margin: 0 10px;
	border-radius: 50%;
}

	/* The modalboxes buttons are rectangles with a border-radius
	on one corner depending on whether it is Bibliograhy or About.
	*/

.annexes > :first-child	{ border-top-left-radius: 4px; }
.annexes > :last-child	{ border-top-right-radius: 4px; }
.annexes > :first-child p	{ border-right: 1px solid #6d6962; }
.annexes > :last-child p	{ border-left: 1px solid #6d6962; }


	/* The modalboxes wrappers have a border radius as well as 
	the images */

.modalbox-wrapper	{ 
	margin: auto; 
	margin-bottom: 20px; 
	margin-top: 3%;
	border-radius: 10px;
}
.work-wrapper	{
	border-radius: 0;
}
.modalbox-wrapper h3	{ 
	border-bottom: solid 2px #6d6962;
	margin: 20px;
	padding: 0;
	padding-bottom: 10px;
}
.modalbox-wrapper p	{
	margin: 30px;
	margin-bottom: 15px;
	margin-top: 0;
}
.modalbox-wrapper ul	{
	margin: 20px;
}
.modalbox-wrapper ol	{
	margin: 20px;
}

.modalbox-close		{ padding-right: 20px; padding-top: 7px; }


/*
 * Layout
 ********
 *
 * Three elements need to be responsive not the same way :
 *  - The annexes buttons are separated from the page wrapper if
 *    (WIDTH > 1080), or at the bottom of it.
 *
 *  - The page page wrapper and the navigation bar :
 *   - if (WIDTH < 600), then the navigation bar is within the page
 *      wrapper, on the top of the annexes;
 *   - if (600 < WIDTH <= 870), then the prev and next buttons are
 *      next to the page wrapper, on the left and right, but they form
 *      a three columns page.
 *   - if (WIDTH > 870), then the right column can extended.
 */

	/* Illustrations */

.illustration-frame	{
	position: relative;
	height: 170px;
	margin: 65px 0px 20px 0px;
	overflow: hidden;
}

.illustration	{
	margin: 0;
	border-radius: 0;
	position: absolute;
	top: 0;
	z-index: 20;
}

.illustr-right	{ right: 0; }
.illustr-left	{ left: 0; }

.illustration-border	{
	position: absolute;
	width: 100%;
	height: 110px;
	padding: 10px;
	box-shadow: 0 10px 20px red inset;
	z-index: 30;
}


	/* Modal Boxes */

.modalbox-close	{ float: right; }
#logo		{ float: right; }
#author		{ float: left; }

.hide	{ display: none; }
.modalbox	{
	position: absolute;
	left: 0;
	top: 0;

	z-index: 1;

	width: 100%;
	min-height: 100%;
}
.modalbox-wrapper	{ overflow: auto; }

@media only screen and (min-width: 701px)	{
	.utility-wrapper	{ width: 70%; }
	.work-wrapper		{ width: 45%; }
}
@media only screen and (max-width: 600px)	{
	.modalbox-wrapper	{
		position: absolute;
		border-radius: 0;
		margin: 0;
		width: 100%;
		min-height: 100%;
	}
	.utility-wrapper	{ width: 100%; }
}

.work-wrapper	{
	min-height: 100vh;
	margin: auto;
	margin-bottom: 0;
	margin-top: 0;
}

	/* Annexes */

.utility-trigger	{
	float: left;
	width: 33%;
	height: 100%;
}

@media only screen and (min-width: 1001px)	{
	.annexes	{
		position: fixed;
		width: 40%;
		bottom: 0;
		right: 3%;
	}
}
/*
@media only screen and (max-width: 1000px)	{
	.annexes	{
		position: fixed;
		width: 55%;
		bottom: 0;
		right: 3%;
	}
}*/
@media only screen and (max-width: 1000px)	{
	.annexes	{
		display: flex;
		position: static;
		width: 100%;
	}
}


	/* Page wrapper and navigation bar */

/* These properties are generally applied when the navbar is not
within the page wrapper. */

.page-changer	{
	position: fixed;
	top: 45%;
}

.dot-bar	{ text-align: center; }
.dot	{ display: inline-block; }

.page-wrapper	{
	position: absolute;
}

@media only screen and (min-width: 771px)	{
	.page-wrapper	{ left: 120px; width: 540px; }
	#prev		{ left: 1%; }
	#next		{ right: 1%; }
}
@media only screen and (max-width: 770px)	{
	.page-wrapper	{ left: 0; top: 0; width: 100%; }
	.navigation-bar	{
		display: flex;
		justify-content: center;
		position: static;
		left: 0;
	width: 100%;
	}
	.page-changer	{
		position: static;
		margin-bottom: 10px; 
	}
	#prev		{ margin-right: 10%; }
	#next		{ margin-left: 10%; }
}


/* Display information */

/*.slide	{ display: none; } *//* Hide slides by default */

.fade	{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 0.5s;
	animation-name: fade;
	animation-duration: 0.5s;
}

@-webkit-keyframes fade	{
	from { opacity: 0 }
	to { opacity: 1 }
}

@keyframes fade	{
	from { opacity: 0 }
	to { opacity: 1 }
}

/* Aliases */
.cite-work	{
	text-decoration: underline dotted;
}
.cite-work:hover	{
	cursor: default;
}

/* First page */
.page-wrapper	{ overflow: visible; }

@media only screen and (min-width: 1001px)	{
.content	{ padding: 30px; width: 50vw;}
#p1	{
	position: relative;
	left: 0;
	top: 0;
}
#p2	{
	position: relative;
	left: 35%;
	top: -40px;
	opacity: 0;
}
#p3	{
	position: relative;
	left: 15%;
	top: -80px;
}
#p4	{
	position: relative;
	left: 25%;
	top: -120px;
}
}

@media only screen and (max-width: 1000px)	{
	.page-wrapper	{ background-color: rgba(255, 255, 255, 0.4); }
	.content	{ background-color: none; }
}

.hvrprt:hover	{

}
.hvrbox	{
	
}
